body {
    background-color: #000;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 1em;
}


#header #title {
    margin-bottom: 0;
}
#header #foobar {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 0;
}
#header #sub {
    font-size: 1em;
    font-weight: normal;
    margin-top: 1em;
}


#footer {
    display: table;
    width: 100%;
    table-layout: fixed;
}
#footer > * {
    display: table-cell;
    vertical-align: middle;
}


.error {
    color: #ff0000;
}
.success {
    color: #00ff00;
}


ul.buses {
    /* Remove padding and bullets */
    padding-left: 5px;
    list-style: none inside;
}

li.bus {
    /* Nice paddin */
    padding-left: 1em;
}


.bus h3 {
    font-size: 1.125em;
    margin-bottom: 0.5em;
}


a {
    color: inherit;
    text-decoration: underline;
}


code {
    background-color: #121212;
    font-family: Consolas, monospace;
    font-size: 0.9em;
    font-weight: bold;
    padding: 0.1em 0.3em;
}


.no-decorate,
.no-decorate-children * {
    color: inherit;
    text-decoration: none;
}

.float-right {
    float: right;
}


.left {
    float: left;
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    float: right;
    text-align: right;
}
