{% extends "layout.html" %}


{% block page_title %}Error{% endblock %}


{% block title %}API Error{% endblock %}
{% block sub_class %}error{% endblock %}
{% block sub %}An error has occured{% endblock %}

{% block content %}
    <p>
        <strong>Status Code:</strong>
        {{ e.description.status_code }}
    </p>
    <p>
        <strong>Text:</strong>
        {{ e.description.text }}
    </p>
{% endblock %}
