<form action="{{ url_for("search") }}" id="form" method="get">
    <label for="sms-code">Bus Stop SMS Code: </label>
    <input type="number" name="sms_code" id="sms-code" max="99999">

    <br><br>

    <input type="submit" value="Submit">
</form>