{% extends "layout.html" %}


{% block page_title %}Search by GPS{% endblock %}


{% block title %}Search by GPS Location{% endblock %}


{% block content %}
    <form action="{{ url_for("search") }}" method="get">
        <div>
            <input type="button" id="get-location-btn" value="Get GPS Location">
        </div>
        <br>
        <div>
            <label for="lat">Latitude:</label>
            <input type="text" id="lat" name="lat" readonly>
        </div>
        <div>
            <label for="lon">Longitude:</label>
            <input type="text" id="lon" name="lon" readonly>
        </div>
        <br>
        <div>
            <input type="submit" value="Search">
        </div>
    </form>
{% endblock %}


{% block scripts %}
    <script>
        (() => {
            const sub = document.querySelector("#sub");

            if (navigator.geolocation) {
                sub.classList.add("success");
                sub.innerHTML = "Geolocation is supported in your browser.";
            } else {
                sub.classList.add("error");
                sub.innerHTML = "Geolocation is not supported in your browser.";
                document.querySelector("#gps-form").style.display = "none";
            }

            document.querySelector("#get-location-btn").addEventListener("click", () => {
                navigator.geolocation.getCurrentPosition((location) => {
                    document.querySelector("#lat").value = location.coords.latitude;
                    document.querySelector("#lon").value = location.coords.longitude;
                }, () => alert("Geolocation cannot be determined."))
            })
        })();
    </script>
{% endblock %}
