<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{% block page_title %}{% endblock %} | Unified Bus Arrival Prediction</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link href="{{ url_for("static", filename="css/style.css") }}" rel="stylesheet">
    {% endblock %}
</head>

<body>
    {% block body %}
    <header id="header">
        <h1 id="title">{% block title %}{% endblock %}</h1>
        <h2 id="foobar">{% block foobar %}{% endblock %}</h2>
        <h2 id="sub" class="{% block sub_class %}{% endblock %}">{% block sub %}{% endblock %}</h2>
    </header>

    <hr>

    {% block content %}{% endblock content %}

    <hr>

    <footer id="footer" class="no-decorate-children">
        <a href="/" class="left">&larr; Back</a>
        <a href="#" class="right" onclick="window.location.reload(true);">Refresh &#8635;</a>
    </footer>

    {% block scripts %}{% endblock scripts %}
    {% endblock body %}
</body>

</html>
