{% extends "layout.html" %}


{% block page_title %}
    {{ result[0].stationName }} | Prediction
{% endblock %}


{% block title %}
    {% if result|length > 0 %}
        {{ result[0].stationName }}
    {% else %}
        No arrivals found
    {% endif %}
{% endblock %}

{% block foobar %}
    {% if result|length > 0 %}
        Towards {{ result[0].towards }}
    {% else %}
        No buses are currently scheduled to stop here
    {% endif %}
{% endblock %}

{% block sub_class %}success{% endblock %}

{% block sub %}Last Updated: {{ created_utc }}{% endblock %}

{% block content %}
    <div id="result">
        <ul class="buses">
            {% for bus in result %}
                <li class="bus">
                    <h3>
                        {{ bus.lineName }} {{ bus.destinationName }}
                    </h3>
                    <ul class="bus-description">
                        {% for attr in attrs %}
                            <li data-attr="{{ attr }}">
                                <strong class="key">{{ attr }}:</strong>
                                <span class="value">{{ bus[attr] }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        // https://stackoverflow.com/a/37770048
        const fmtMSS = (s) => (s-(s%=60))/60+(9<s?':':':0')+s;

        document.querySelectorAll('.bus-description li[data-attr="timeToStation"] .value').forEach((timer) => {
            timer.textContent = fmtMSS(+timer.textContent);
        });
    </script>
{% endblock %}
