{% extends "layout.html" %}


{% block page_title %}Search Results{% endblock %}


{% block title %}Search Results{% endblock %}
{% block sub_class %}success{% endblock %}
{% block sub %}Results found: {{ result|length }}{% endblock %}


{% block content %}
    <ul id="search-results">
        {% for stop_point in result %}
            <li>
                <a href="{{ url_for("prediction", stop_id=stop_point.naptanId) }}">
                    <strong>
                        ({{ stop_point.stopLetter or "??" }})
                    </strong>
                    {{ stop_point.commonName }}

                    {# Some bus stops don't have a "towards" (possibly terminus-only stops). Only
                       attempt to display a "towards" if the bus stop actually has that property. #}
                    {% set towards = stop_point.additionalProperties|selectattr("key", "equalto", "Towards")|list %}
                    {% if towards is defined and towards %}
                        (Towards {{ (towards|first).value }})
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
